SERVICE_INTENT_URL=http://intent-service:8001
SERVICE_MEMORY_URL=http://memory-service:8002
SERVICE_SEARCH_URL=http://search-service:8003
SERVICE_SYNTHESIS_URL=http://synthesis-service:8004
RESEARCH_MAX_ITERATIONS=3
RESEARCH_CONFIDENCE_THRESHOLD=0.8
RESEARCH_MAX_TOKENS_PER_QUERY=5000
RESEARCH_OUTPUT_DIR=./output
